.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
.bakeryItemList {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
  column-gap: 50px;
  row-gap: 15px;
  width: 100vw; 
}

.cartList {
  display: flex;
  align-items: center;
  width: 300px;
}

/* ul {
  display: flex;
  flex-direction: row;
} */
